/build/
/dist/
/flit_core/dist/
__pycache__/
/doc/_build/
/tests/samples/build/
/tests/samples/dist/
/tests/samples/ns1-pkg/dist/
/htmlcov/
/.coverage
/.pytest_cache
/.tox
.idea/
venv/
*.pyc
.python-version
