language: python
python:
  - "3.7"
  - "3.6"
  - "3.5"
  - "3.4"

install:
  - pip install --upgrade pip
  - pip install --upgrade pytest
  - pip install -r requirements-test.txt
  - pip install codecov
script: pytest --cov=flit
after_success: codecov
