language: python
python:
  - "3.6"
  - "3.5"
  - "3.4"

# 3.7 needs Xenial image because of https://github.com/travis-ci/travis-ci/issues/9069
matrix:
  include:
    - python: "3.7"
      dist: xenial
      sudo: true

install:
  - python3 -m pip install --upgrade pip flit
  - python3 -m flit install --deps develop
  - python3 -m pip install codecov
script:
  - py.test --cov=flit
  - sphinx-build -b html -d _build/doctrees doc _build/html
after_success: codecov
sudo: false
